* {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    
}

#form {
    width: 300px;
    height: 250px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.phone{
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#phone{
    width: 80%;
    height: 35px;
    border: none;
    outline: none;
}
   
#loginButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: rgb(33, 168, 108);
    color: white;
    font-size: medium;
    font-weight: bold;
}

#loginButton:hover{
    background-color: green;
}

.login {
    width: 700px;
    margin-left: 5%;
    margin-top: 5%;
}

.login>p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.login>img {
    margin-left: 35%;
}

.login>h2 {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}


.policy>img {
    width: 250px;
    margin-top: 10%;
    margin-left: 31.5%;
}

.policy {

    width: 1230px;
    height: 730px;
    margin-left: 18%;
    background-color: rgb(242, 239, 249);
}

.policy>h1,
h2 {
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.policy>h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 60px;
}

.account {
    display: flex;
    justify-content: space-around;
}

.account>h4 {
    font-weight: lighter;
    margin-top: 40px;
}